  



.footer {
  background-color: var(--color-secundario);
  
  color: var(--color-texto-claro);
  padding: var(--espaciado-lg) 0;
}

.footer-contenido {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--espaciado-md);
  
}

.footer-contenido>div{
  width: 400px;
  
}

.logo-footer{
    
display: flex;
flex-direction: column;
    width: 200px;
    align-items: center;
   
    
}

.logo-footer > img{
  width: 200px;
}

.footer-contenido h4 {
  color: var(--color-blanco);
  margin-bottom: var(--espaciado-base);
  font-size: 1.2rem; /* Mejora el tamaño de la fuente del título */
}

.footer-contenido p {
  margin: 5px 0;  /* Ajusta el margen entre las líneas de texto */
}

.footer-info{
    width: 25rem;
    
    
}

.footer-redes {
  display: flex;
  gap: 20px;  /* Más espacio entre los iconos */
  align-items: center; /* Centra los iconos verticalmente */
  height: 100%; /* Ocupa todo el espacio disponible */
}

.footer-redes ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px; /* Espacio entre los iconos */
}

.footer-redes li {
  display: inline-block;
  
 
}

.footer-redes img {
  width: 35px;  
  height: 35px;
  transition: transform 0.3s ease-in-out; 
}

.footer-redes a:hover img {
  transform: scale(1.2); 
}

.footer-fondo {
  border-top: 1px solid #4a5568;
  padding: var(--espaciado-md) 0;
  text-align: center;
  font-size: 0.9rem; 
  color: var(--color-blanco);
}

.footer-contenido .col {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.footer-contenido .col .footer-redes {
  margin-top: 10px; 
}